name: CI checks
on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
    types: [checks_requested]

jobs:
    is-release-allowed:
      steps:
        - uses: actions/checkout@v3

        - uses: actions/download-artifact@v3
          with:
            name: release-gate
            path: release-gate.txt

        - name: Check if we're in a release window
          # If release-gate.txt returns "open" then exit 0, otherwise exit 1
            run: |
                if [ "$(cat release-gate.txt)" == "open" ]; then
                exit 0
                else
                exit 1
                fi
